<h1>Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

    1. Python
    
    2. R
    
    3. Julia
    
    4. SQL

Some of the commonly used libraries used by Data Scientists include:

    1. TensorFlow
    
    2. SciPy
    
    3. NumPy
    
    4. Pandas
    
    5. Matplotlib
    
    6. Keras
    
    7. Scikit-learn
    
    8. PyTorch

Data Science Tools  | 
------------- | 
Anaconda |
Jupyter Notebooks |
R Studio  |
Spyder |

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- Create Markdown cells
- Create simple arithmetic equations
- Create markdown tables

<h2>Author<h2>

    Pedro Vitor Bacchin